* {
  font-family: 'Geist Mono', sans-serif;
}
section {
  max-width: 800px;
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  gap: 1rem;
  p {
    width: 300px;
    flex-basis: 300px;
    position: relative;
    font-weight: 300;

    img {
      max-width: 100%;
    }
  }
  p::after {
    content: attr(data-ref);
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    min-height: 1.5rem;
    background-color: hsla(222, 30%, 30%, 0.5);
    color: white;
    font-size: 1.2rem;
    padding: 1rem;
  }
}
